<div>
	<div class="d-flex justify-content-between align-items-center pb-2">
		{{ selectedDate | date: 'EEEE, MMMM d' }}

		<ht-datepicker
			#datepicker
			[(value)]="selectedDate"
			(valueChange)="refresh()"
			[maxDate]="currentDate"
			[isInputHidden]="true"
			[isMobile]="true"
		></ht-datepicker>

		<i (click)="openDatepicker()" class="fs-1 fa-regular fa-calendar"></i>
	</div>

	<ht-separator
		text="TODO"
	></ht-separator>

	<div
		[@fadeHeightIn]
		*ngIf="!applyFilterByStatus(false)?.length"
		class="d-flex justify-content-center pb-1">
		Nothing left to do
		<br>
		Good job! 🎉🎉🎉
	</div>
	<ng-container *ngFor="let habit of applyFilterByStatus(false); trackBy: trackByHabitId">
		<!-- additional wrapper is needed to correctly animate gap -->
		<div [@fadeHeightIn] [@fadeHeightOut]>
			<div class="pb-2 pb-lg-3">
				<ht-track-habit-item
				[data]="habit"
				(statusChange)="handleStatusChange($event)"
				></ht-track-habit-item>
			</div>
		</div>
	</ng-container>

	<ht-separator
		*ngIf="applyFilterByStatus(true)?.length"
		[@fadeHeightIn]
		[@fadeHeightOut]
		text="DONE"
	></ht-separator>
	<ng-container *ngFor="let habit of applyFilterByStatus(true); trackBy: trackByHabitId">
		<!-- additional wrapper is needed to correctly animate gap -->
		<div [@fadeHeightIn] [@fadeHeightOut]>
			<div class="pb-2 pb-lg-3">
				<ht-track-habit-item
				[data]="habit"
				(statusChange)="handleStatusChange($event)"
				></ht-track-habit-item>
			</div>
		</div>
	</ng-container>
</div>
