<div class="container-fluid px-3 px-md-4 py-3 py-md-4">
  <div class="d-flex justify-content-center mb-4">
    <div class="d-flex align-items-center gap-3">
      <ht-datepicker
        [style.width.px]="120"
        [(value)]="startDate"
        (valueChange)="refresh()"
        [maxDate]="endDate"
        [isMobile]="true"
      ></ht-datepicker>

      <span class="text-muted">to</span>

      <ht-datepicker
        [style.width.px]="120"
        [(value)]="endDate"
        (valueChange)="refresh()"
        [maxDate]="currentDate"
        [isMobile]="true"
      ></ht-datepicker>
    </div>
  </div>

  <ng-container *ngIf="data && data.length">
    <ng-container *ngFor="let habit of data">
      <div class="pb-2 pb-lg-3">
        <ht-stat-habit-item [data]="habit"/>
      </div>
    </ng-container>
  </ng-container>

  <div *ngIf="data && data.length === 0" class="empty-state-container">
    <div class="text-center mb-4" style="max-width: 70%;">
      <h4 class="mb-3">No data available</h4>
      <p class="mb-4">No habits were tracked in the selected period 📅</p>
    </div>
  </div>
</div>
